/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// Global

/* Base Structure */


/*Content Structure */
.content-wrapper {
  text-align: center;
  margin-top: 150px;
  background-color: #fff;
}
@media(min-width: 768px) {
.content-wrapper {
    padding-left: 150px;
    margin-top: 100px;
  }
}

// .content-wrapper {
//   height: 100vh;
//   margin-top: 200px;
//   background-color: #f9e3e3;  
// }

// @media(min-width:768px) {
//     .content-wrapper {
//       margin-top: 50px;
//     }
// }

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom Cover Button */
.btn-cover,
.btn-cover:hover,
.btn-cover:focus {
    color: #A35F5F;
    text-shadow: none; /*Prevent inheritance from body */
    background-color: #fff;
    border: 1px solid #fff;
}

.btn-cover-invert,
.btn-cover-invert:hover,
.btn-cover-invert:focus {
    color: #fff;
    text-shadow: none; /*Prevent inheritance from body */
    background-color: #A35F5F;
    border: 1px solid #A35F5F;
}

/* Cover */
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100vh; /* For at least Firefox */
  background: image_url('bg3d_light_pink_v1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #A35F5F;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  min-height: 100%;
   -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}



/*
 * Header
 */

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.masthead-nav {
    margin: auto;
  }

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

.cover {
    padding: 0px 20px;
    vertical-align: middle;
}

.cover .btn-cover {
    padding: 10px 20px;
    font-weight: bold;
}
.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 1000px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1000px;
  }
}


// Top Navbar

.top-nav li, ul {
    display: inline;
    float: left;
    padding-right: 10px;
}

//Side Navbar

@media(min-width: 768px) {
    .side-nav {
        position: fixed;
        overflow-x: hidden;
        top: 50px;
        left: 150px;
        width: 150px;
        margin-left: -150px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        padding-bottom: 40px;
    }
}

// Forms

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.flash-settings {
  position: fixed;
  left: 150px;
  top: 120px;
  
}





